@import '../../../../theme/styles/variables';

.approveButton,
.denyButton {
    button {
        background-color: rgb(52 211 153) !important;
        border-radius: 10px;
        min-height: 40px !important;
        font-size: 13px;
        color: beige;

    }
}

.approveButton button {
    background-color: rgb(52 211 153) !important;

    &:hover {
        background-color: rgba(52, 211, 153, 0.6);
        border: 0;
    }
}

.denyButton button {
    background-color: rgb(240, 45, 45) !important;

    &:hover {
        background-color: rgba(240, 45, 45, 0.6);
        border: 0;
    }
}